body {
    background: url(https://previews.123rf.com/images/ookasan/ookasan1612/ookasan161200108/67530209-grunge-white-wood-texture-of-wooden-boards-floor.jpg);
}

li {
    float: right;

}

h1 {
    float: left;
    font-size: 35px;
    background-color: #4aaaa5;
    color: white;
    height: 100%;
    margin-left: 240px;
    width: 250px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid rgb(171, 170, 170);
    height: 90px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.contact {
    margin-left: 25px;
    margin-right: 250px;
    margin-top: 30px;
}

.portfolio {
    margin-left: 25px;
    margin-top: 30px;
}

.about {
    margin-top: 30px;
}

li a {
    text-decoration: none;
    color: rgb(114, 111, 111);
    font-size: 20px;
}

.left-side {
    width: 64%;
    height: 560px;
    float: left;
    box-sizing: border-box;
    margin-top: 90px;
}

.right-side {
    width: 36%;
    height: 560px;
    float: left;
    box-sizing: border-box;
    margin-top: 90px;

}

.left-board {
    width: 650px;
    height: 1000px;
    background-color: white;
    margin-left: 240px;
    margin-top: 40px;
}

.right-board {
    width: 270px;
    height: 190px;
    background-color: white;
    margin-top: 40px;
    margin-left: 10px;
}

hr {
    width: 90%;
    border: 1.5px solid rgb(194, 191, 191);
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-board h2 {
    color: #4aaaa5;
    font-size: 30px;
    padding: 20px;
    padding-bottom: 0;
}

.right-hr {
    border: 1px solid rgb(221, 216, 216);
}

.icons li {
    float: left;
}

.icons .git img {
    margin-left: 35px;
}

.icons .linkedin img {
    margin-left: 5px;
}

.icons .stack {
    margin-left: 5px;
}

h2 {
    color: #4aaaa5;
    font-size: 30px;
    padding: 30px;
}

.left-board hr {
    border: 1.5px solid rgb(212, 209, 209);
}

.images .image-1 {
    height: 200px;
    width: 275px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}

.images .image-2 {
    height: 200px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

.images .image-3 {
    height: 200px;
    width: 275px;
    margin-left: 30px;
    margin-top: 50px;
    float: left;
}

.images .image-4 {
    height: 200px;
    width: 275px;
    margin-left: 30px;
    margin-top: 50px;
    float: left;
}

.images .image-5 {
    height: 200px;
    width: 275px;
    margin-left: 30px;
    margin-top: 50px;
    float: left;
}

footer {
    width: 100%;
    background-color: rgb(85, 85, 85);
    height: 100px;
    position: absolute;
    top: 1200px;
    border-top: 8px solid #4aaaa5;
}

footer p {
    font-size: 13px;
    color: rgb(196, 193, 193);
    text-align: center;
    padding: 40px;
}

h3 {
    background-color: #4aaaa5;
    color: white;
    width: 275px;
    height: 60px;
    position: absolute;
    top: 410px;
    left: 270px;
    font-size: 25px;
    text-align: center;
}

h4 {
    background-color: #4aaaa5;
    color: white;
    width: 275px;
    height: 60px;
    position: absolute;
    top: 410px;
    left: 575px;
    font-size: 25px;
    text-align: center;
}

h5 {
    background-color: #4aaaa5;
    color: white;
    width: 275px;
    height: 60px;
    position: absolute;
    top: 660px;
    left: 270px;
    font-size: 25px;
    text-align: center;
}

h6 {
    background-color: #4aaaa5;
    color: white;
    width: 275px;
    height: 60px;
    position: absolute;
    top: 660px;
    left: 575px;
    font-size: 25px;
    text-align: center;
}

.last-image {
    background-color: #4aaaa5;
    color: white;
    width: 275px;
    height: 60px;
    position: absolute;
    top: 910px;
    left: 270px;
    font-size: 25px;
    text-align: center;
}